body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  margin-left: 10px;
}

.footer{

  bottom:0;
  left: 0;
  width:100%;
  background-color: darkred;
  color: white;
  text-align: center;
  padding: 10px;

}



.bcenter {
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}

#header{
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}

#header h1{
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}
#header .brand-name{
  color: red;
}

#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color:whitesmoke;
  border: 2px solid;
  text-decoration: none;
  width: 120px;
  background-color: #8a1010;
}

#header .btn-get-started:hover{
  background-color: #630c0c;
  color:whitesmoke;
}

.btn-ge-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color:whitesmoke;
  border: 2px solid;
  text-decoration: none;
  width: 120px;
  background-color: #8a1010;
}
.btn-ge-started:hover{
  background-color: #630c0c;
  color:whitesmoke;
}


.header-img{
  
  margin-top: 1px;
  text-align: top;
  margin-left: 10em;
  
  width: 60vh;
  height: 60vh;
  /* margin-bottom: 100px; */

}

.sidenav {
  height: 100%;
  width: 260px;
  position: absolute;
  z-index: 1;
  top: 12em;
  right: 0.4em;
  
  overflow-x: hidden;
  padding-top: 20px;
}

.card-img-top{
  height: 200px;
  width: 400px;
}
/* 
input.form-control{
  background-color: rgb(241, 233, 231);
} */